
.DS_Store

lib/
units/

Makefile
!/Makefile

logdataserver
!/server/logdataserver
!/bin/logdataserver

logingate
!/gate/logingate
!/bin/logingate

rungate
!/gate/rungate
!/bin/rungate

logdataserver.app
logingate.app
rungate.app

liblcl.dylib

Log-*.txt
