
.DS_Store

lib/
units/

Makefile
!/Makefile

logdataserver
!/server/logdataserver
!/bin/logdataserver

logingate
!/gate/logingate
!/bin/logingate

logdataserver.app
logingate.app

liblcl.dylib

Log-*.txt
